*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat Alternates', sans-serif;
}


/*responosive of section1 mobile view */

@media screen and (max-width:800px) {
    .header-section{
        background-color: white;
        height: 60vh;
        width: 100%;
        border: 1px solid red;
        margin: 0 ;
        padding:0;
        position: relative;
    }
/*logo and icons*/


.logo{
    display: flex;
    justify-content:space-between;


}

.name{
    font-size: 20px;
    font-weight: 600;
    margin-left: 30px;
    margin-top: 30px;
    font-size: 20px;
}
.icon{
    margin-top: 30px;
    color: grey;
}


.icon ul li {
    list-style-type: none;
    display: inline;
    padding:5px;
    margin-right: 10px;
    
   

}

nav{
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
}

nav ul li{
    list-style-type: none;
    font-size: 18px;
   
}

nav ul li{
    padding: 10px;

}


 nav ul li a{
     text-decoration: none;
    color: grey;
    font-size: 32px;
    
 }   
.regestration{
    display: none;
}
.center-div{
    
    background-image: linear-gradient(rgba(0,0,0, 0.5) ,rgba(0,0,0,0.5)),url(../images/hero-cover.3.png);
    background-position: center;
    padding-top:30px;
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    

}

.center-div h1{
    color:white;
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
    padding:10px;
    margin-top: 20px;
    

}
.center-div p{
    text-align: center;
    font-size: 18px;
    padding: 5px;
  margin: 50px;
   
}

.btn{
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-left:100px;
    margin-right: 100px;
    margin-top: 26px;

  
}

/*quote button*/

.btn1{
    border: 1px solid white;
    background-color:#23A6F0 ;
    border-radius: 25px;
    padding: 12px 20px;

}
 


/*learn more button*/
.btn2{
    border: 1px solid white;
    background: transparent;
    padding: 12px 20px;
    border-radius: 25px;
    margin-top: 20px;
    
}


/*change the color of the btns*/

.btn a{
    text-decoration: none;
    color:white;
    text-align: center;
}
/*cards*/

.mission-cards{
    display: flex;
    flex-direction: column;
    margin: 10px;
    justify-content: space-around;
}

/*card1*/
.card1{
    margin: 20px;
    border: 1px solid white;
    background-color: white;
    
   

}
.card2{
    border: 1px solid white;
    margin: 20px;
    background-color: white;
}

.card3{
    border: 1px solid white;
    margin: 20px;
    background-color:#23A6F0;
    color: white;
}
.mission-cards i{

    color: #23A6F0 ;
    font-size: 32px;
    
}

.mission-cards h3 {
    color: grey;
}

.mission-card:nth-child(3){
    color: white;
}
.card3 i{
    color:white;
    
}

.card1 h3{
    color: grey;
}

.card2 h3{
    color: grey;

}

.card1 p{
    color: grey;

}

.card2 p{
    color: grey;
}

.card3 h3{
    color: white;
}

.mission-cards i{
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom:5px;
}

.mission-cards p{
    margin-left: 20px;
    margin-top: 2px;
    text-align:justify;
    
}

.mission-cards h3{
    margin-left: 30px;
    margin-bottom: 2px;
    font-size:25px;
    font-weight: 800;
}
 
#vision-card{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#vision-card h3{
    font-size: 18px;
    margin: 20px;
    text-align: center;

}

#vision-card p{
    color: grey;
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
}

.icon-img i{
    display: flex;
    color: #23A6F0;
    justify-content: center;
    font-size: larger;
}

/*sectio3*/
#section3{
    background-color: lightgray;
}
/*hide h1 on mobile view*/
.industry-header h1{
    display: none;
}
.industry-header {
    width: 80%;
    padding-top: 100px;
    text-align: center;
    margin: auto;
}

.industry-header p{
    font-size:15px;
}
.users{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}
.person1, .person2, .person3{
border: 1px solid white;
text-align: center;
height: 70vh;
margin: 10px;
background-color: white;
}

.person1 img, .person2 img, .person3 img{
    height: 30%;
    width: 200px;
    object-fit: contain;
    margin: 20px;
    
}
.person-message{
    margin: 30px;
    text-align: center;
    font-size: 15px;
}
.rating{
    margin: 20px;
}
.rating ul li{
    list-style-type: none;
    display: inline;
    padding: 10px;
}

.rating ul li i{
    color:yellow;
    font-size: 20px;
}
/*vectors*/
.vectors{
    height: 20%;
    width: 200px;
    margin-top:250px;
    margin-left: 50px;
    margin-right: 50px;
    
}
.vectors ul{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  
}
.vectors li img{
    height: 5%;
    width: 200px;
    object-fit: contain;
    

}
.vectors li{
    list-style-type: none;
    margin: 10px;
}

/*subscription*/

.subscribe{
    background-image:linear-gradient(to right, #252B42,purple);
    text-align: center;
    height: 30vh;
    width: 100%;
    color: white;
    padding: 20px;
}

.col-left p{
   font-size: 18px;
   font-weight: bolder;
}

.col-right input:nth-child(1){
    width: 40%;
    padding: 50px;
    padding:10px;
     border-radius: 10px;
     color: white;
  
    
 
 }
 
 .col-right input:nth-child(2){
     width: 40%;
     background-color: #23A6F0;
     padding:10px;
     border-radius: 10px;
     color: white;
  
  }
  .pricing-header {
    width: 80%;
    padding-top: 50px;
    text-align: center;
    margin: auto;
   
  }

  .pricing-header h1{
    font-weight:bolder;
    padding: 20px;

  }
.pricing-header p{
    font-size:15px;
    color: grey;
    
}


.columns{
    display: flex;
    flex-direction: column;
    margin-top: 57px;
    align-items: center;
    justify-content: center;
    position: relative;
    
    
    
}
.col1-left, .col1-right{
    border: 2px solid #23A6F0;
    height: 80vh;
    text-align: center;
    padding: 23px;
    background-color: white;
    border-radius: 9px;
    margin: 10px;
    
    }
    
    .col1-center{
    
        background-color:  #252B42;
        height: 80vh;
        text-align: center;
        padding: 20px;
        border: 2px solid #23A6F0;
        border-radius: 9px;
    
    
    }
    .col1-left h2{
        color:  #252B42;
    }
    .col1-right h2{
        color:  #252B42;
    }
    .col1-center h2{
        color: white;
    }
    .top3  p{
        color: gray;
        font-weight: bold;
        margin: 20px;
    }
    .top1 p{
        color: gray;
        font-weight: bold;
        margin: 20px;
    }
    
    .top p{
        color: white;
        font-weight: bold;
        margin: 30px;
    
    }
    .speed h3{
        color:#23A6F0;
        font-size:27px;
        padding: 17px;
    }
    .sup{
        vertical-align: super;
        font-size: 16px;
    }
    
    .sub{
       vertical-align: sub;
       font-size: 12px;
       margin:0
    }
    .products p{
        color:  #252B42;
        padding: 7px;
        text-align: left;
    }
    .offer{
        border: 1px solid  #23A6F0;
        margin-top: 10px;
        padding: 7px;
        background-color: #23A6F0;
    }
    
    .products-center p{
        color: white;
        padding: 7px;
        text-align: left;
    
    
    }

    /*location*/
    .location{
        display: flex;
        background-color:  #252B42;
        height: 100vh;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }
.location-details{
    height: 50%;
    text-align:left;

}
    .location-details h1{
        color: white;
        font-size: 40px;
        margin-top: 100px;
        padding: 20px;
    }
    .location-details p{
        color: white;
        padding: 20px;
    }
.map{
    height: 30%;

}
.map img{
height: 200px;
width: 200px;
object-fit: contain;
color: white;
margin-top: 100px;
}

}

 



/*sectin1 starts here  responsive desktop view*/


/*styling the big container*/
@media screen and (min-width:800px){



    #section1{
        background-image: linear-gradient(rgba(40, 36, 36, 0.5) ,rgba(0,0,0,0.5)),url(../images/hero-cover.3.png);
        position: relative;
        min-height: 100vh;
        width: 100%;
        padding: 10px;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: scroll;
        background-position: center;
        margin: 0 auto;
       background-color: lightgray;
    }
    
    .header-section{
        height: 10%;
        display:flex;
        align-items: center;
        justify-content: space-between;
        color: white;
        
        
    }
    
    
    /*style logo*/
    
    .logo{
        margin-left:200px;
        font-size: x-large;
        font-weight: bolder;
        
    }
    
    
    /*styling the nav bar*/
    nav ul{
        list-style-type: none;
        left:80px;
        top: 10px;
        font-weight: 800;
        
        
        }
    
    nav ul li{
        display: inline;
        margin: 10px;
       
    }
    
    /*psudo class liks*/
    
    nav ul li a{
    
        text-decoration: none;
        color: white;
    
    }
    
    
    
    
    .regestration ul{
        list-style-type: none; 
        margin-right: 100px;
        font-weight: 800;
    }
    
    /*loogin button*/
    
    .regestration ul li {
    
        display: inline-block;
        padding: 5px;
    }
     /*change the color of login link*/
    
     .regestration ul li a{
    
        color: white;
        text-decoration: none;
     }
    
    /*join in button*/
    .regestration ul li:nth-child(2){
        background-color:#23A6F0;
        padding: 10px;
        color: white;
        border: 1px solid white;
    }

    /*hide icns on the desktop-view*/
    .icon{
        display: none;
    }
    
    /*style the center div*/
    
    .center-div{
    
        position:absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
         color: white;
         
      
    }
     .center-div h1{
         font-size: 60px;
       font-weight: 900px ;
       
       
    
     }
    /*center div p*/
    .center-div p{
        margin:50px 0px 20px;
        text-align:center;
    }
    
    /*center div button*/
    
    .btn{
        display: inline-block;
        margin: 30px 0px 10px;
       position: relative;
    }
    
    /*quote button*/
    
    .btn1{
        border: 1px solid white;
        background-color:#23A6F0;
        border-radius: 25px;
        padding: 12px 20px;
    
    }
     
    /*hoover effect on btn 1
    transition over 1sec*/
    
    .btn1:hover{
        border: 1px solid white;
        background: transparent;
        transition: 0.8s;
    }
    
    /*learn more button*/
    .btn2{
        border: 1px solid white;
        background: transparent;
        padding: 12px 20px;
        border-radius: 25px;
        margin-left: 10px;
    }
    
    /*hoover effect on btn 1
    transition over 1sec*/
    .btn2:hover{
        border: 1px solid white;
        background-color:#23A6F0 ;
        transition: 0.8s;
    }
    
    
    /*change the color of the btns*/
    
    .btn a{
        text-decoration: none;
        color:white;
    }
    
    /*style the mission cards*/
    .mission-cards{
        display: flex;
        text-align: left;
       width:900px;
       margin-bottom: -400px;
       

     
        
       
    }
    .card1{
        margin: 20px;
        border: 2px solid white;
        background-color: white;
        height: 150px;
        width:350px;
        padding: 10px;
        
       
    
    }
    .card2{
        border: 1px solid white;
        border: 1px solid white;
        background-color: white;
        width:350px;
        height: 150px;
        margin: 20px;
    
        
    }
    
    .card3{
        border: 1px solid white;
        margin: 20px;
        background-color:#23A6F0 ;
        color: white;
        width:350px;
        height: 150px;
    }
    
    .mission-card:nth-child(3){
        color: white;
    }
    .card3 i{
        color:white;
        
    }
    
    .card1 h3{
        color: black;}
    
    .card2 h3{
        color:black;
    
    }
    
    .card1 p{
        color: grey;
    
    }
    
    .card2 p{
        color: grey;
    }
    
    .card3 h3{
        color: white;
    }
    
    .mission-cards i{
    
        color: #23A6F0 ;
        font-size: 18px;
        margin-left: 20px;
        margin-top: 10px;
        
        
    }
   .card3 i{
       color: white;

   }
    
    .mission-cards p{
        margin-left: 20px;
        margin-top: 2px;
        text-align:justify;
        
    }
    
    .mission-cards h3{
        margin-left: 20px;
        margin-bottom: 2px;
        font-size:25px;
        font-weight: 800;
    }
    #vision-card{
        height:70vh;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
       justify-content: space-around;
       padding: 30px;
       
    }
      #section3{

        background-color: lightgray;
      }


    .industry-header {
        width: 80%;
        margin: auto;
        padding-top: 100px;
        text-align: center;
    }
    .industry-header p{
        color: grey;
    }

    .industry-header h1{
        margin: 20px;

    }
       .users{
           display: flex;
           margin: 50px;
           justify-content: center;
       } 


    
    .person1, .person2, .person3{
    border: 1px solid white;
    text-align: center;
    height: 70vh;
    margin: 10px;
    background-color: white;
    width:30%;
    }
    
    .person1 img, .person2 img, .person3 img{
        height: 30%;
        width: 200px;
        object-fit: contain;
        margin: 20px;
        
    }
    .person-message{
        margin: 30px;
        text-align: center;
        font-size: 15px;
    }
    .rating{
        margin: 20px;
    }
    .rating ul li{
        list-style-type: none;
        display: inline;
        padding: 10px;
    }
    
    .rating ul li i{
        color:yellow;
        font-size: 20px;
    }


    /*vector section*/

    .vectors{
        height: 20%;
        margin-top:150px;
        margin-left: 50px;
        margin-right: 50px;
        
    }
    .vectors ul{
        display: flex;
        justify-content: center;
      
    }
    .vectors li img{
        height: 30%;
        width: 150px;
        object-fit: contain;

    }
    .vectors li{
        list-style-type: none;
        margin: 10px;
    }

/*subscription*/
.subscribe{
    position: absolute;
    height: 15%;
    width: 80%;
    left: 120px;
    right: 30px;
    background-image:linear-gradient(to right, #252B42,purple);
    display: flex;
    justify-content: space-between;
    align-items: center;
    

    
}
.col-left p{
    color: white;
    font-size:18px;
    font-weight: 600;
    margin-left: 10px;

}
.col-right input:nth-child(1){
    padding: 10px;
    color: white;
    border-radius: 5px;
}
.col-right input:nth-child(2){
    padding: 10px;
    margin-right: 50px;
    width:100px;
    margin-left: 0;
    background-color: #23A6F0;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
}
/*pricing section*/

.pricing-header {
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
}
.pricing-header p{
    color: grey;
    padding: 20px;
}

.pricing-header h1{
    margin-top: 50px;
    font-weight:bold;

}
.columns{
    display: flex;
    margin-top: 57px;
    align-items: center;
    justify-content: center;
    position: relative;
    
    
    
}
.col1-left, .col1-right{
border: 2px solid #23A6F0;
height: 60vh;
text-align: center;
padding: 23px;
background-color: white;
border-radius: 9px;

}

.col1-center{
    align-self: stretch;
    background-color:  #252B42;
    height: 67vh;
    text-align: center;
    padding: 23px;
    margin-top: -47px;
    border: 2px solid #23A6F0;
    border-radius: 9px;


}

.col1-left h2{
    color:  #252B42;
}
.col1-right h2{
    color:  #252B42;
}
.col1-center h2{
    color: white;
}
.top3  p{
    color: gray;
    font-weight: bold;
    margin: 20px;
}
.top1 p{
    color: gray;
    font-weight: bold;
    margin: 20px;
}

.top p{
    color: white;
    font-weight: bold;
    margin: 30px;

}
.speed h3{
    color:#23A6F0;
    font-size:27px;
    padding: 17px;
}
.sup{
    vertical-align: super;
    font-size: 16px;
}

.sub{
   vertical-align: sub;
   font-size: 12px;
   margin:0
}
.products p{
    color:  #252B42;
    padding: 7px;
    text-align: left;
}
.offer{
    border: 1px solid  #23A6F0;
    margin-top: 10px;
    padding: 7px;
    background-color: #23A6F0;
}

.products-center p{
    color: white;
    padding: 7px;
    text-align: left;


}

/*location*/
.location{
    background-color:  #252B42;
    display: flex;
    

}
.location-details{
    width:50%;
    color:white;
    margin-left:20px;
    margin-top: 20px;
}
.location-details h1{
    font-size: 61px;
    font-weight: bold;
}
.location-details p{
    text-align: left;
    padding: 10px;
}
.map{
    width: 50%;
}
.map img{
    object-fit: contain;
    height: 100%;
    width: 100%;
}
}